@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(90deg, rgba(25, 11, 41, 1) 0%, rgba(67, 95, 150, 1) 100%);
}
.wrapper {
    width: 100%;
    height: 100%;
    color: #fff;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}
.brand {
    margin-top: -7px;
}
.brand span {
    color: #b77cff;
}
.menu {
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.menu li {
    list-style: none;
    display: flex;
    align-items: center;
}
.menu a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.menu li .menu-item:hover {
    color: #fff;
    background-color: #b77cff;
    transition: ease-in 0.4s;
}
.menu .active {
    color: #b77cff;
}

.main {
    margin: 0 auto;
    display: grid;
    width: 80vw;
    height: 80vh;
    position: relative;
}
.download-cv {
    padding: 10px 20px;
    background-color: #b77cff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.download-cv:hover {
    box-shadow: 1px 3px 11px -5px #b77cff;
}
.info-section {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 80vw;
    height: 80vh;
    z-index: 1;
}
.info-section .info-content h1 {
    cursor: pointer;
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 50px;
}
.info-section .info-content h1:after {
    content: " ";
    display: block;
    width: 100px;
    height: 10px;
    background: #bc90f4;
    border-radius: 10px;
    margin: 10px 0px;
}
.info-section .info-content h1:hover::after {
    width: 300px;
    transition: ease-in 0.4s;
}
.info-section .info-content h4 {
    font-size: 3em;
    font-weight: normal;
    color: #98bbff;
}
.info-section .info-content span {
    font-weight: bold;
    color: #fff;
}
.photo-content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
}
.photo-content img {
    width: 350px;
    height: 350px;
}
.figure {
    position: absolute;
}
.big-figure {
    height: 700px;
    width: 700px;
}
.small-figure {
    height: 20px;
    width: 20px;
}
.dot {
    border-radius: 50%;
}
.first-dot {
    background-color: #2a3d65;
    display: inline-block;
    right: -450;
    top: 50px;
}
.second-dot {
    border: 2px solid #7136ed;
    background: transparent;
    top: 50px;
    right: 400px;
}
.third-dot {
    border: 2px solid #b77cff;
    background: transparent;
    top: 120px;
    right: 110px;
}
.fourth-dot {
    border: 2px solid #b77cff;
    background: transparent;
    top: 250px;
    right: -100px;
}
.fifth-dot {
    border: 2px solid #7136ed;
    background: transparent;
    top: 600px;
    right: -50px;
}
.first-frame {
    border: 2px solid #7136ed;
    background: #7136ed;
    top: -10px;
    right: 300px;
}
.second-frame {
    border: 2px solid #b77cff;
    background: #b77cff;
    bottom: 80px;
    right: 260px;
}
.third-frame {
    border: 2px solid #7136ed;
    background: #7136ed;
    bottom: 200px;
    right: 360px;
}
.about{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100vw;
    align-items: center;
    z-index: 2;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}
.about img{
    width: 100%;
    grid-column: 1/6;
}
.about-info{
    grid-column: 6/12;
    padding: 2em;
}
.about-info h2{
    font-size: 2em;
    color: #fff;
}

.about-info h2:after {
    content: " ";
    display: block;
    width: 100px;
    height: 10px;
    background: #bc90f4;
    border-radius: 10px;
    margin: 10px 0px;
}
.about-info p {
    color: #fff;
    margin: 10px 0px;
}
@media only screen and (max-width: 912px) {
    .navbar {
        display: inline-block;
    }
    .menu {
        width: 100%;
    }
    .menu a {
        padding: 5px 10px;
        font-size: 10px;
    }
}
