@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
  }
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(90deg, rgba(25, 11, 41, 1) 0%, rgba(67, 95, 150, 1) 100%);
}
.wrapper {
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
}
header{    
    z-index: 2;
    position: relative;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}
.brand {
    margin-top: -7px;
}
.brand span {
    color: #b77cff;
}
.menu {
    display: flex;
    justify-content: flex-end;
    width: 60%;
}
.menu li {
    list-style: none;
    display: flex;
    align-items: center;
}
.menu a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.menu li .menu-item:hover {
    color: #fff;
    background-color: #b77cff;
    transition: ease-in 0.4s;
}
.menu .active {
    color: #b77cff;
}
.toggle-menu,
.info-section .info-content .sotial-networks {
    display: none;
}
.toggle-menu{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #b77cff;
    padding: 10px;
    border-radius: 50%;
}
.toggle-menu i{
    text-align: center;
    font-size: 1em;
    width: 15px;
    height: 15px;
}
.toggle-menu #toggle-close{
    display: none;
}
.main {
    margin: 0 auto;
    display: grid;
    width: 80vw;
    height: 80vh;
    position: relative;
}
.footer .footer-content h2 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: monospace;
    position: relative;
    width: max-content;
  }
.footer .footer-content h2::before,
.footer .footer-content h2::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer .footer-content h2::before {
  background: #98BBFF; 
  animation: typewriter 6s
    steps(20) 1s forwards infinite;
}

.footer .footer-content h2::after {
  width: 0.180em;
  background: #fff;
  animation: typewriter 6s
      steps(20) 1s forwards infinite,
    blink 750ms steps(20) infinite;
}

.download-cv {
    padding: 10px 20px;
    background-color: #b77cff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.download-cv:hover {
    box-shadow: 1px 3px 11px -5px #b77cff;
}
.download-cv a {
    text-transform: uppercase;
}
.info-section {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 80vw;
    height: 80vh;
    z-index: 1;
}
.info-section .info-content h1 {
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 50px;
}
.h-divider:after {
    content: " ";
    display: block;
    width: 100px;
    height: 10px;
    background: #bc90f4;
    border-radius: 10px;
    margin: 10px 0px;
}
.h1 {
    font-size: 4em; 
    color: #fff;
}
.h2 {
    font-size: 2em;
    color: #fff;
}
.info-section .info-content h1:hover::after {
    width: 300px;
    transition: ease-in 0.4s;
}
.info-section .info-content h4 {
    font-size: 3em;
    font-weight: normal;
    color: #98bbff;
}
.info-section .info-content span {
    font-weight: bold;
    color: #fff;
}
.photo-content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
}
.photo-content img {
    width: 350px;
    height: 350px;
}
.figure {
    position: absolute;
}
.big-figure {
    height: 700px;
    width: 700px;
}
.small-figure {
    height: 20px;
    width: 20px;
}
.dot {
    border-radius: 50%;
}
.first-dot {
    background-color: #2a3d65;
    display: inline-block;
    right: -450;
    top: 50px;
}
.second-dot {
    border: 2px solid #7136ed;
    background: transparent;
    top: 50px;
    right: 400px;
}
.third-dot {
    border: 2px solid #b77cff;
    background: transparent;
    top: 120px;
    right: 110px;
}
.fourth-dot {
    border: 2px solid #b77cff;
    background: transparent;
    top: 250px;
    right: -100px;
}
.fifth-dot {
    border: 2px solid #7136ed;
    background: transparent;
    top: 600px;
    right: -50px;
}
.six-dot {
    border: 2px solid #b77cff;
    background: transparent;
    top: 350px;
    right: 550px;
}
.first-frame {
    border: 2px solid #7136ed;
    background: #7136ed;
    top: -10px;
    right: 300px;
}
.second-frame {
    border: 2px solid #b77cff;
    background: #b77cff;
    bottom: 80px;
    right: 260px;
}
.third-frame {
    border: 2px solid #7136ed;
    background: #7136ed;
    bottom: 200px;
    right: 360px;
}
.fourth-frame {
    border: 2px solid #7136ed;
    background: #7136ed;
    bottom: 60px;
    right: 660px;
}
.fifth-frame {
    border: 2px solid #b77cff;
    background: #b77cff;
    top: 35px;
    right: 760px;
}
.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}
.about img {
    max-width: 100%;
    height: 100%;
    grid-column: 1/6;
}
.about-info {
    grid-column: 6/12;
    padding: 2em;
}
.about-info p {
    color: #fff;
    margin: 10px 0px;
}
.about-info .hide-element {
    display: none;
    transition: all .5s ease-in-out;
}
.portfolio {
    position: relative;
}
.portfolio .portfolio-headings,
.contact .contact-headings {
    width: 100vw;
    padding: 3em;
}
.portfolio .portfolio-headings h2,
.contact .contact-headings h2 {
    font-size: 2.5em;
}
.portfolio .horizontal-parent {
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.portfolio .horizontal-parent .play-btn {
    cursor: pointer;
    position: absolute;
    top: 45px;
    right: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: #b77cff;
    z-index: 2;
}
.portfolio .horizontal-child {
    margin: 1rem 0px;
    position: relative;
    display: block;
    width: 100vh;
    height: calc(100vw - 15px);
    overflow-y: scroll;
    transform-origin: 100% 0%;
    transform: rotate(-90deg) translateY(-100vh);
}
.portfolio .horizontal-child .slide {
    padding: 3rem 1rem 1rem;
    transform-origin: 0% 0%;
    column-gap: 0;
    transform: rotate(90deg) translateY(-100%);
}
/*
 *  STYLE 4
 */

#horizontal-child::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

#horizontal-child::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

#horizontal-child::-webkit-scrollbar-thumb {
    background-color: #bc90f4;
    border: 1px solid #7136ed;
}

.portfolio .container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.portfolio .container .card {
    border-radius: 10px;
    width: 400px;
    height: max-content;
    background-color: #bc90f4;
    margin: 1em;
}
.portfolio .container .card .card-image {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 250px;
    background: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://media3.giphy.com/media/qgQUggAC3Pfv687qPC/giphy.gif");
}
.portfolio .container .card .card-image .projects-links {    
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
}
.portfolio .container .card .card-image .projects-links a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}
.portfolio .container .card .card-image .projects-links a i {
    font-size: 1.5em;
    background: #bc90f4;
    border-radius: 50%;
}
.portfolio .container .card .card-title {
    padding: 20px;
}

.portfolio .container .card .projects-details {
    padding: 1em;
    display: flex;
    justify-content: center;
}
.portfolio .container .card .projects-details button a {
    text-decoration: none;
    color: #fff;
}
.contact {
    background-color: rgba(0, 0, 0, 0.3);
}
.contact .container {
    padding: 0px 3em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
}
.contact .container img {
    width: 400px;
    height: 400px;
    bottom: 0px;
    opacity: 0.2;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    outline: 4px solid #ffffff99;
    cursor: pointer;
}
.contact .container img:hover {
    opacity: 1;
}

.contact .container .contact-form .form-group {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}
.contact .container .contact-form .form-group textarea {
    height: 150px;
    padding: 1.5em;
    background: none;
    border-left: 1px solid #bc90f4;
    border-right: 1px solid #bc90f4;
    border-top: none;
    color: #fff;
    resize: none;
}

.contact .container .contact-form .form-group .input {
    padding: 10px 20px;
    background: none;
    border: none;
    color: #fff;
}

.contact .container .contact-form .form-group #name {
    border-top: 1px solid #bc90f4;
    border-left: 1px solid #bc90f4;
    border-right: 1px solid #bc90f4;
    border-radius: 10px 10px 0px 0px;
}
.contact .container .contact-form .form-group #email {
    border-left: 1px solid #bc90f4;
    border-right: 1px solid #bc90f4;
}

.contact .container .contact-form .form-group .btn-submit {
    padding: 10px 20px;
    border-radius: 0px 0px 10px 10px;
    border: none;
    text-transform: uppercase;
    background-color: #bc90f4;
    color: #fff;
    cursor: pointer;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background-color: #98BBFF;
    color: #fff;
}

.footer-content h2 {
    font-size: 3em;
}
.footer-content h2 strong {
    color: #bc90f4;
    font-weight: bold;
}

.footer-content h5 {
    font-size: 1.5em;
    text-align: center;
}

.sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

.sotial-networks a i {
    color: #fff;
    font-size: 1.5em;
}
@keyframes typewriter {
    to {
      left: 100%;
    }
  }
  @keyframes blink {
    to {
      background: transparent;
    }
  }
@media only screen and (max-width: 1874px) {    
    .portfolio .horizontal-child {
        height: calc(100vw - 2px);
    }
}
@media only screen and (max-width: 912px) {
    .navbar {
        display: flex;
    }
    .menu {
        width: 100%;
    }
    .menu a {
        padding: 5px 10px;
        font-size: 10px;
    }    
    .portfolio .container .card {
        width: 350px;
    }
}
@media only screen and (max-width: 800px) {
    .menu{
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 200px;
        background-color: rgba(67, 95, 150, 1);
        transform: translateX(-110%);
        transition: all .5s ease-in-out;
    }
    .menu li{
        margin: 1em;
    }
    .menu li a{
        width: 100%;
    }
    .show-menu{
        transform:translateX(0); 
    }
    .toggle-menu{
        display: block;
    }
    .info-section, .about {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .h1{
        font-size: 2em;
        text-align: center;
    }
    .info-section .info-content h1 {
        margin-bottom: 20px;
    }
    .info-section .info-content h4{
        font-size: 1.5em;
        text-align: center;
    }
    .info-section .info-content .sotial-networks {
        display: flex;
    }
    .big-figure{
        width: 350px;
        height: 350px;
    }
    .first-dot{
        right: -260px;
        top: -260px;
    }
    .second-dot {
        right: 200px;
        top: 50px;
    }
    .third-dot {
        right: 20px;
        top: 25px;
    }
    .fourth-dot {
        top: -80px;
        right: 80px;
    }
    .fifth-dot {
        top: 500px;
        right: 320px;
    }
    .six-dot {
        top: 600px;
        right: 10px;
    }
    .first-frame {
        border: 2px solid #7136ed;
        background: #7136ed;
        top: -10px;
        right: 300px;
    }
    .second-frame {
        border: 2px solid #b77cff;
        background: #b77cff;
        bottom: 80px;
        right: 260px;
    }
    .third-frame {
        border: 2px solid #7136ed;
        background: #7136ed;
        bottom: 200px;
        right: 360px;
    }
    .fourth-frame {
        border: 2px solid #7136ed;
        background: #7136ed;
        bottom: 60px;
        right: 660px;
    }
    .fifth-frame {
        border: 2px solid #b77cff;
        background: #b77cff;
        top: 35px;
        right: 760px;
    }
    .photo-content img {
        width: 250px;
        height: 250px;
    }
    .photo-content {
        justify-content: center;
    }
    .portfolio .container {
        margin: 0;
    }
    .portfolio .horizontal-parent .play-btn {
        top: 75px;
        right: 55px;
    }
    .contact .container img{
        display: none;
    }
    .contact .container .contact-form,
    .contact .container .contact-form .form-group{
        width: 100%;
    }
    .footer-content h2 {
        font-size: 1.5em;
    }
    .footer-content h5 {
        font-size: 100%;
    }
    .portfolio .container .card {
        width: 300px;
    }
    .portfolio .horizontal-child {
        height: calc(100vw - 0.5px);
    }
}
